body {
	background-image: url("../images/footer_lodyas.png");
}

body:after{
	display:none;
	content: url("../images/pHandp.png.png");
	content: url("../images/pHands.png.png");	
	content: url("../images/cHandp.png.png");	
	content: url("../images/cHandr.png.png");	
	content: url("../images/c2HandAs.png.png");	
	content: url("../images/c2HandAr.png.png");
	content: url("../images/c2HandBs.png.png");	
	content: url("../images/c2HandBp.png.png");							
}


.spacing {
	text-align: center;
	padding: 10px;
}

.center {
	margin-top: 3%;
	background-color: rgba(132, 123, 115, 0.34);
	border: 2px solid rgba(0, 0, 0, 0.53);
}

h1, h3, h4, p  {
	font-family: 'Baloo', cursive;
	color: white;
}

h1 {
	margin: 2px;
	font-size: 50px;
}

h3 {
	margin: 2px;
	font-size: 25px;
}


.hands {
	position: absolute;
	height: 90%;
	left: 20%;
	top: 21px;
	opacity: 0.0;
}

#animate {
	opacity: 100%;
}

#splitRow, #twoHands, #pHandImg, #cHandImg, #p2HandA, #p2HandB, #c2HandA, #c2HandB, #onlyHand{
	display: none;
}


.hover:hover{
	opacity: 0.5;
}

#back  {
	border: 5px solid #373634;
	background-color: #ff7701;
	width: 79%;
    height: 420px;
}

#betRow, #onlyHand, #onlyHandOff, #twoHands, #splitRow {
	border: 5px solid #392411;
	background: rgba(150, 108, 66, 0.1);
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#betRow	{
	border-bottom: 0;
}

.betBut {
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 1200px){
	#back {
		height: 300px;
	}

	.handbut {
		width: 100px;
		height: 100px;
	}


}

@media screen and (max-width: 992px){
	.handbut {
		width: 75px;
		height: 75px;
	}

	.container {
		width: 100%;
	}

}

@media screen and (max-width: 720px){
	.hands {
		left: 14%;
		top: 15%;
		width: 70%;
		height: 70%;
	}

	.betBut {
		width: 40px;
		height: 40px;
	}
		.handbut {
		width: 40px;
		height: 40px;
	}

}

