body {
	background-image: url("../images/swirl_pattern1.png");
}

.spacing {
	text-align: center;
}

.center {
	margin-top: 50px;
	background-color: white;
	border: 1px solid wheat;
}

h1, p {
	font-family: 'Archivo Black', sans-serif;
}

h1 {
	margin: 10px;
}

.refTalk {
	position: absolute;
	text-align: left;
	margin-left: 30px;
}

.bubbleP {
	position: absolute;
	text-align: left;
	top: 30px;
	left: 55px;
	width: 280px;
}

.hands {
	position: absolute;
	left: 40px;
	top: 0;
}

#splitRow, #twoHands, #pHandImg, #cHandImg, #p2HandA, #p2HandB, #c2HandA, #c2HandB, #onlyHand{
	display: none;
}

button {
	width: 50px;
	height: 50px;
	font-size: 10px;
}

.buttons {
	width: 50px;
	height: 50px;
}

.hover:hover{
	opacity: 0.5;
}

